#  数据库IP
DATABASE_HOST = 'localhost'
#  数据库端口
DATABASE_PORT = 3306
#  数据库用户
DATABASE_USERNAME = 'root'
#  数据库密码
DATABASE_PASSWORD = 'root'
#  数据库名称 (确保数据库存在)
DATABASE_NAME = 'demo_tiny_pro'
#  是否强制同步数据库 (线上建议关闭)
DATABASE_SYNCHRONIZE = true
#  是否自动加载Entry (建议设置为true)
DATABASE_AUTOLOADENTITIES = true
#  jwt盐
AUTH_SECRET = 'secret'
#  AccessToken默认过期时间
REDIS_SECONDS = 7200
#  Redis IP
REDIS_HOST = 'localhost'
#  Redis 端口
REDIS_PORT = 6379
#  JwT过期时间 (已废弃)
EXPIRES_IN = '2h'
#  分页默认起始页码数
PAGINATION_PAGE = 1
#  分页默认起始大小
PAGINATION_LIMIT = 10
#  api接口全局前缀
GLOBAL_PREFIX = '/'
#  mock接口glob表达式
MOCK_REGEX = '/mock'
#  refreshToken过期时间
REFRESH_TOKEN_TTL = 604800000
#  最大会话数, -1表示不限制
DEVICE_LIMIT=1
#  是否启用演示模式, 如果设置为true, 则会拒绝所有的增加、修改、删除操作
PREVIEW_MODE=true
#  Swagger文档标题
SWAGGER_TITLE="Tiny Pro"
#  Swagger文档简介
SWAGGER_DESC="开箱即用的中后台模板"
#  Swagger文档版本
SWAGGER_VERSION="1.0.0"
