DATABASE_HOST = 'localhost'
DATABASE_PORT = 3306
DATABASE_USERNAME = 'root'
DATABASE_PASSWORD = 'root'
DATABASE_NAME = 'demo_tiny_pro'
DATABASE_SYNCHRONIZE = true
DATABASE_AUTOLOADENTITIES = true
AUTH_SECRET = 'secret'
REDIS_SECONDS = 7200
REDIS_HOST = 'localhost'
REDIS_PORT = 6379
EXPIRES_IN = '2h'
PAGINATION_PAGE = 1
PAGINATION_LIMIT = 10
GLOBAL_PREFIX = '/'
MOCK_REGEX = '/mock'
REFRESH_TOKEN_TTL = 604800000
# 至多有多少个设备可以同时在线
DEVICE_LIMIT=1
# 是否启用演示模式
PREVIEW_MODE=true
SWAGGER_TITLE="Tiny Pro"
SWAGGER_DESC="开箱即用的中后台模板"
SWAGGER_VERSION="1.0.0"
